<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}Home{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="/">BandManager</a>
  
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar" style="font-size: 18px;">
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="/" id="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/create-new-band" id="create_new_band">Create New Band</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/manage-your-band" id="manage_your_band">Manage Your Band</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout" id="logout">Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/" id="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login" id="login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sing-up" id="sing_up">Sing Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/create-new-band" id="create_new_band">Create New Band</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>

  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      {% if category == "error" %}
      <div class="alert alert-danger" role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% else %}
      <div class="alert alert-success" role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>
      {% endif %}
    {% endfor %}
  {% endif %}
  {% endwith %} 

<div class="container"> 
{% block content %}

{% endblock %}
</div>

</body>
</html>