{% extends "base.html" %}
{% block title %}Manage Your Band{% endblock %}
{% block content %}
<br/> 

<h1 style="font-size: 58px;">Welcome {{ user.first_name }}!</h1>
<br/>
<h1 style="font-size: 46px;"">Choose which band you want to manage</h1>
<br/>
{% if bands == [] %}
    <h2>You don't have any bands.</h2>
{% else %}

{% for band in bands %}
<form method="POST" action="/manage-your-band/{{ band.id }}">
    <div class="buttons" style="text-align: center;">
            <button type="submit" class="btn btn-outline-danger btn-block" style="font-size: 36px;" name=band value={{ band.id }}>{{band.name}}</button>
            <br>
    </div>
</form>
{% endfor %}
{% endif %}

{% endblock %}