{% extends "base.html" %}
{% block title %}Manage Your Band{% endblock %}
{% block content %}
<br/> 

<h1 style="font-size: 58px;">Welcome {{ user.first_name }}!</h1>
<br/>
<h1 style="font-size: 46px;"">Choose which band you want to manage</h1>
<br/>
{% if bands == [] %}
    <h2>You don't have any bands.</h2>
{% else %}
<form method="POST" action="/bands">
    <div class="buttons" style="text-align: center;">
        {% for band in bands %}
            <button type="post" class="btn btn-outline-danger btn-block" style="font-size: 36px;" name=band value={{ band.id }}>{{band.name}}</button>
            <br>
        {% endfor %}
    </div>
</form>
{% endif %}

{% endblock %}